<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DataBaseName</key>
	<string>Info.sqlite</string>
	<key>ServiceUrl</key>
	<string>http://192.168.1.218:8077/</string>
	<key>IsInit</key>
	<string>F</string>
	<key>LoginName</key>
	<string>TestUser</string>
	<key>LoginPassword</key>
	<string>121121</string>
	<key>LoginIsRemember</key>
	<string>T</string>
	<key>SegmentID</key>
	<string></string>
	<key>1</key>
	<string>正常</string>
	<key>0</key>
	<string>系统异常</string>
	<key>21</key>
	<string>网络异常</string>
	<key>31</key>
	<string>数据库异常</string>
	<key>22</key>
	<string>服务器异常，更新失败！</string>
	<key>32</key>
	<string>SQL语句异常</string>
	<key>41</key>
	<string>该工程没有配置检查表！</string>
</dict>
</plist>
